img {border-style: solid; border-width: thin; border-color: black;}

.pad {padding: 5px}

#facts {font-style: italic;}

div {border-style: solid; border-width: thin; border-color: black;}

body {width: 315px; height: 800px;}
span {font-weight: bold;}

.nobull {list-style-type: none;}

#shadow {border: 1px solid; padding: 10px; border-shadow: 5px 10px 8px #888888}

h1 {border-style: solid; border-width: thin;}
